{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		[
			"styled-components",
			{
				"pure": true,
				"ssr": true
			}
		],
		"@babel/plugin-proposal-class-properties"
	]
}