.sui-tutorials {
	display: flex;
	margin: 0;
	padding: 0;
	border: 0;
}

.sui-tutorial {
	width: 33.33%;
	flex: 0 0 auto;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.sui-tutorial .sui-tutorial--image {
	width: 66px;
	height: 54px;
	overflow: hidden;
	position: relative;
	border-radius: 6px;
}

.sui-tutorial .sui-tutorial--image img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}