name: "Chromatic"
on:
  pull_request_target:
    branches:
      - master
      - release/**
  push:
    branches:
      - master
      - release/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: yarn
      - name: build examples
        run: |
          yarn run build-storybook
      - name: upload storybook to chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: storybook-static